h1{
    font-size: 60px ;
    font-family: system-ui, Oxygen;
    color: #006280;
    text-align: center;

}
body{
    background-image: url(https://i.pinimg.com/originals/60/26/0b/60260bdc06af0684d75a59bd99e37e83.png);
    color:#ffffff
   }